.Phonetic {
  margin: 20px 0;
  text-transform: capitalize;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #cd88ed;
  color: white;
}

.Phonetic .text {
  opacity: 70%;
  font-weight: bold;
}
